#header {
    background-image: url("backgroundLogo2.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    padding-bottom: 60%;
    margin-top: 0px;
}

/*img #header #logo {
    width: 100px;
    margin-left: 100px;
    margin-right: 500px;
    padding-top: 10%;
}*/

body {
   background-color: rgb(255, 255, 255);
   /*background-image: url("backgroundLogo.png");
   background-size: cover;
   background-position: 0px;*/
}

h2, p {
    text-align: center;
    color: rgb(87, 0, 128);
}

#founderCeo {
    padding-top: 0px;
    padding-left: 45%;
    padding-right: 45%;
}

img {
    border-radius: 5%;
    width: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 30px;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    width: 30px;
  }

  footer {
      text-align: center;
      padding-top: 30px;
  }

  #pages {
      text-align: center;
  }



 