body {
    background-color: rgb(255, 255, 255);
    min-width: 400px;
 }

#header {
    background-image: url("images/backgroundLogo2.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    padding-bottom: 60%;
    margin-top: 0px;
}

#pages {
    text-align: center;
    font-size: 18px;
    font-family: 'Joan', serif;
    color: rgb(87, 0, 128);
}

#navigation:hover {
    color: #125688;
}

#navigation:active {
    color: blue;
}

h2, p {
    text-align: center;
    color: rgb(87, 0, 128);
    font-family: 'Joan', serif;
}

iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

p {
    font-size: 18px;
}

img {
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 30%;
    display: flex;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 30px;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    width: 30px;
  }

  footer {
      text-align: center;
      padding-top: 30px;
  }




 